homeassistant:
  packages: !include_dir_named packages


# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

#auth_header:
#  username_header: X-authentik-username


#auth_oidc:
#  client_id: "homeassistant"
#  client_secret: !secret client_secret_authentik
#  discovery_url: "https://authentik.moutas.casa/application/o/home-assistant/.well-known/openid-configuration"
#  features:
#    automatic_user_linking: true

recorder:
  db_url: !secret mariadb_connection
  #purge_keep_days: 10
  #commit_interval: 5
  auto_purge: false

history:

influxdb:
  api_version: 2
  ssl: false
  host: influxdb
  port: 8086
  token: !secret influxdb_token
  organization: gl
  bucket: homeassistant
  tags:
    source: HomeAssistant
  tags_attributes:
    - friendly_name
  default_measurement: units
  ignore_attributes:
    - icon
  exclude:    # Customise to fit your needs
    entities:
      - zone.home
    domains:
      - persistent_notification
      - person

# Text to speech
tts:
  - platform: google_translate

group: !include groups.yaml
automation: !include automations/automations.yaml
#automation: !include_dir_merge_list automations/
script: !include scripts.yaml
scene: !include scenes.yaml
sensor: !include_dir_merge_list sensors/
input_select: !include input_select.yaml
input_number: !include input_number.yaml
switch: !include switches.yaml
binary_sensor: !include binary_sensor.yaml
cover: !include cover.yaml
input_boolean: !include input_boolean.yaml
template: !include_dir_merge_list templates/
ingress: !include ingress.yaml
thermal_comfort: !include thermal_comfort.yaml
input_datetime: !include input_datetime.yaml

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.0.0.0/8
    - 192.168.1.0/24


logger:
  default: info
  logs:
    custom_components.pyscript.file.pv_excess_control: INFO
    #custom_components.auth_header: debug
    custom_components.llmvision: debug
    homeassistant.components.automation: debug

# Telegram Bot
telegram_bot:
  - platform: polling
    api_key: !secret telegram_bot_api_key
    allowed_chat_ids:
      - 5258104860

# Notifier
notify:
  - platform: telegram
    name: "Gui"
    chat_id: 45258104860

timer:
  piscina_manual:
    name: Piscina — Temporizador manual
    duration: "00:00:00"   # a duração real define-se no arranque do script

rest_command:
  cfos_disable_charging:
    url: !secret cfos_disable_url

  cfos_enable_charging:
    url: !secret cfos_enable_url


